<form
  class="signup-form"
  (ngSubmit)="onSubmit(saveUserForm)"
  fxLayout="column wrap"
  fxLayoutAlign="center center"
  [formGroup]="saveUserForm"
  >
  <mat-card
    class="signup__card"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <h2 class="signup__text">
      Please Update details
    </h2>
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <mat-form-field class="signup-half-width">
        <input matInput placeholder="First Name" formControlName="firstName"/>
        <mat-error *ngIf="saveUserForm.get('email').hasError('required')"
          >Please Enter your First Name</mat-error
        >
      </mat-form-field>
      <mat-form-field class="signup-half-width">
        <input matInput placeholder="Last Name" formControlName="lastName" />
        <mat-error *ngIf="saveUserForm.get('email').hasError('required')"
          >Please Enter your Last Name</mat-error
        >
      </mat-form-field>
    </div>
    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="saveUserForm.get('email').hasError('required')"
        >Please Enter your email</mat-error
      >
      <mat-error *ngIf="saveUserForm.get('email').hasError('emailTaken')"
        >User already register please login</mat-error
      >
      <mat-error *ngIf="saveUserForm.get('email').hasError('email')"
        >Please Enter a valid email</mat-error
      >
    </mat-form-field>

    <mat-form-field class="signup-full-width">
      <input matInput placeholder="Password" formControlName="password"/>
      <mat-error *ngIf="saveUserForm.get('password').hasError('required')"
        >Please Enter your password</mat-error
      >
      <mat-error *ngIf="saveUserForm.get('password').hasError('minlength')"
        >Please Enter a valid password</mat-error
      >
    </mat-form-field>
    <mat-form-field class="signup-full-width">
      <input
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="saveUserForm.get('confirmPassword').hasError('required')"
        >Please Enter your password</mat-error
      >
      <mat-error *ngIf="saveUserForm.get('confirmPassword').hasError('minlength')"
        >Please Enter Same password as above</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!saveUserForm.valid"
    >
      {{ (loading$ | async )? 'updating...' : 'save'}}
    </button>
  </mat-card>
</form>
